@import "tailwindcss";
@font-face {
    font-family: absans;
    src: url(/absans-regular.otf);
}

@font-face {
    font-family: gilroy;
    src: url(/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: acma-black;
    src: url(/PPAcma-Black.otf);
}